body {
  background-color: salmon;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 15vw;
  height: 10vh;
}
header a {
  background-color: black;
  color: beige;
  padding: 10px;
  margin: 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}
header a:hover {
  background-color: grey;
}
.image-container {
  display: flex;
  overflow-y: auto;
  width: 98vw;
  height: 25vh;
}
.location-container {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  text-align: center;
  background-color: #1a1a1a80;
  padding: 10px;
}
