body {
  background-color: salmon;
}
/* Header Decoration */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}
header img {
  width: 20vw;
  height: 10vh;
}
nav {
  padding: 10px;
}
nav a {
  text-decoration: none;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.navButton {
  transition: transform 0.3s, background-color 0.3s;
}
.navButton:hover {
  transform: scale(2);
  background-color: grey;
}

/* Table Decoration */
#table-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  background-color: grey;
}
th {
  background-color: black;
  color: aliceblue;
}
td {
  background-color: white;
  text-align: center;
}
/* Form */
form {
  display: flex;
  justify-content: center;
}
fieldset {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: grey;
  color: white;
  border-radius: 25px;
}
legend {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
}
fieldset div {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
fieldset button {
  width: 50%;
  align-self: center;
  margin: 5px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
